body {
    background-image: url("assets/piratebackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 10% center;
  }

a {
    color: green
  } 
  
